{% extends 'participant/base.html' %}
{% block title %}
Participant Dashboard
{% endblock %}
{% load widget_tweaks %}
{% load static%}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  </head>
<br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-6">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20">Active Challenges</h6>
           <h2 class="text-right"><i class="fas fa-book f-left"></i>
            <span>{{ total_speciality}}</span></h2>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-6">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Questions</h6>
            <h2 class="text-right"><i class="fas fa-question-circle f-left"></i><span>{{total_question}}</span></h2>  
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br><br><br><br><br><br><br><br><br>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{% endblock content %}
