<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <title>
    Skillstest | Participant Home
  </title>
  <meta charset="utf-8">
  <meta name="viewport" 
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/facilitator/home.css' %}">
</head>
<body>
  {% include "navbar.html" %}
  <br>
  <div class="jumbotron" style="margin-bottom:0px;">
    {% block greets %}
        {% if 5 <= current_time.hour < 12 %}
            <h1 class="display-4">Good Morning, Participant</h1>
        {% elif 12 <= current_time.hour < 17 %}
            <h1 class="display-4">Good Afternoon, Participant</h1>
        {% elif 17 <= current_time.hour < 21 %}
            <h1 class="display-4">Good Evening, Participant</h1>
        {% else %}
            <h1 class="display-4">Hello, Participant</h1>
        {% endif %}
    {% endblock %}
    <p class="lead">Welcome to Skillstest</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg"
      href="{% url 'participantsignup' %}" role="button">Sign Up</a>
      <a class="btn btn-primary btn-lg"
      href="{% url 'participantlogin' %}" role="button">Login</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "footer.html" %}
</body>
</html>
