{% extends 'participant/base.html' %}

{% block title %}
Join Challenge
{% endblock %}

{% block content %}
{% load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style>
    .shine {
        font-size: larger;
        font-weight: 100;
    }
    .instr {
        font-size: 50px;
        font-weight: 200;
    }
  </style>
</head>

<br><br>
<div class="container">
</div>

<div class="container my-4">
    <div class="jumbotron">
        <h3 class="text-info text-center instr ">{{ speciality.speciality_name }} Details</h3>
        <div class="row">
            <div class="card border-info mx-4 my-4 shine"> <!-- Add 'shine' class for shine effect -->
                <div class="card-body text-info">
                    <h4 class="card-title instr">Below Are {{ speciality.speciality_name }} details</h4>
                    <ul style="list-style: decimal;">
                        <li>Challenge Name : {{ speciality.speciality_name }}</li>
                        <li>Total Question : {{ total_questions }}</li>
                        <li>Total Marks : {{ total_marks }}</li>
                        <li>Type : {% if speciality.free_or_paid  == 0 %} FREE {% else %} PAID {% endif %}</li>
                        <li>Amount : {{ speciality.amount }}</li>
                        <li>Time Limit : {{ speciality.time_limit }}</li>
                        <li>Instructor : {{ speciality.owner_name }}</li>
                    </ul>
                    <h4 class="card-title instr">INSTRUCTIONS: <br> Kindly read carefully..!!</h4>
                    <ul style="list-style: disc;">
                        <li>Below are question set to meet regulated standards, for effective learning kindly avoid cheating and do your own work</li>
                    </ul>
                    <a href="{% url 'startchallenge' speciality.id  %}" style="font-size: larger;" class="btn btn-success">Start {{ speciality.speciality_name }}</a>
                </div>
            </div>  
        </div>  
    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}
