<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous">
<head>
  <title>
    Skillstest | {% block title %} {% endblock %}
  </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
  <input type="checkbox" id="check">
  <header>
    <label for="check">
      <i style="left: 200px;margin-top: 17px;"
      class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>Skillstest</h3>
    </div>
    <div class="right_area">
      <a href="{% url 'logout' %}" class="logout_btn">Logout</a>
    </div>
  </header>
  <div class="sidebar">
    <center>
      <img src="{% static 'image/teacher.png' %}" class="profile_image" alt="">
      <h4>{{request.user.first_name}}</h4>
      <h6 style="color: rgb(255, 255, 255);">( Facilitator )</h6>
    </center>
    <a href="{% url 'facilitatordashboard' %}"><i
      class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
    <a href="{% url 'addorviewchallenge' %}"><i
      class="fas fa-book"></i><span>Challenge</span></a>
    <a href="{%url 'addorviewquestion' %}"><i
      class="fas fa-question-circle"></i><span>Questions</span></a>
  </div>
  <div class="content">
    <br><br><br><br><br>
    {% block content %}
    <div class="msg">
        {% for msg in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          {{ msg }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
      </div>
    {% endblock content %}
    <br><br><br>
    {% include "footer.html" %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>
</body>
</html>
