<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <title>
    Skillstest | Facilitator Home
  </title>
  <meta charset="utf-8">
  <meta name="viewport" 
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/facilitator/home.css' %}">
</head>
<body>
  {% include "navbar.html" %}
  <br>
  <div class="jumbotron" style="margin-bottom:0px;">
    {% block greets %}
      <h1 class="display-4" id="greeting">Hello, Facilitator</h1>
    {% endblock %}
    <p class="lead">Welcome to Skillstest</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg"
      href="{% url 'facilitatorsignup' %}" role="button">Sign Up</a>
      <a class="btn btn-primary btn-lg"
      href="{% url 'facilitatorlogin' %}" role="button">Login</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "footer.html" %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var current_time = new Date();
    var hour = current_time.getHours();

    var greetingElement = document.getElementById('greeting');

    if (hour >= 0 && hour < 12) {
        greetingElement.textContent = "Good Morning, Facilitator";
    } else if (hour >= 12 && hour < 17) {
        greetingElement.textContent = "Good Afternoon, Facilitator";
    } else if (hour >= 17 && hour < 21) {
        greetingElement.textContent = "Good Evening, Facilitator";
    } else {
        greetingElement.textContent = "Hello, Facilitator";
    }
});
  </script>
</body>
</html>
