<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    {% block greets %}
        {% if 5 <= current_time.hour < 12 %}
            <h1 class="display-4">Good Morning, Facilitator</h1>
        {% elif 12 <= current_time.hour < 17 %}
            <h1 class="display-4">Good Afternoon, Facilitator</h1>
        {% elif 17 <= current_time.hour < 21 %}
            <h1 class="display-4">Good Evening, Facilitator</h1>
        {% else %}
            <h1 class="display-4">Hello, Facilitator</h1>
        {% endif %}
    {% endblock %}
    <p class="lead">Welcome to Skillstest</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'facilitatorsignup' %}" role="button">Sign Up</a>
      <a class="btn btn-primary btn-lg" href="{% url 'facilitatorlogin' %}" role="button">Login</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "footer.html" %}
</body>
</html>
