.navbar-custom {
  background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(28,28,28,1) 50%, rgba(36,36,36,1) 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 1.75rem;
  color: #ffffff !important;
  background-color: #28a745;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.navbar-brand:hover {
  background-color: #218838;
}
.navbar-nav .nav-link {
  color: #ffffff !important;
  padding-left: 30px;
}
.navbar-nav .nav-link:hover {
  color: #f8d210 !important;
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.7%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}
body {
  background-color: #f8f9fa;
}