body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.jumbotron {
  background-image: linear-gradient(to bottom right, #000000, #333333);
  color: #ffffff;
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #ffffff;
  color: #333333;
  border-color: #333333;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #333333;
  color: #ffffff;
}