<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <title>
    {% block title %} skillstest | About {% endblock %}
  </title>
</head>
<body>
  {% include "navbar.html" %} <br><br><br>
  <section class="about-us">
    <div class="about">
        <img src="https://neivanny1.github.io/assets/profile-pic.png" class="pic" alt="About Us Image">
        <div class="text">
            <h2>About Me</h2>
            <h5>Eric Mwakazi & <span>Backend Developer</span></h5>
            <p>I am a proficient backend developer with extensive experience 
              in frameworks such as Django, Flask, and MongoDB. My skills are
               complemented by a strong aptitude for teamwork and collaboration, 
               enabling me to work effectively with diverse teams to achieve common goals. 
               I excel in problem-solving, consistently finding innovative solutions to 
               complex challenges. My technical expertise, coupled with my ability 
              to communicate and cooperate with others, makes me a valuable asset in 
              any development project.</p>
            <div class="data">
                <a href="{% url 'contactus' %}" class="hire">Hire Me</a>
            </div>
        </div>
    </div>
</section>
  {% include "footer.html" %}
</body>
</html>