<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
  <br><br>
  <main class="cd__main">
    <section>
    <div class="section-header">
      <div class="container">
        <h2>Contact Us</h2>
        <p>If you have any questions, comments, or 
          just want to say hello, we’d love to hear from you! 
          Please fill out the form below or reach out to us directly 
          at our email or phone number. 
          Our team is here to help and will get back to you as soon as possible. 
          Thank you for getting in touch!</p>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        
        <div class="contact-info">
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-home"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Address</h4>
              <p>Bamburi,<br/> Mombasa, Kenya, <br/> 80808</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-phone"></i>
            </div>
            
            <div class="contact-info-content">
              <h4>Phone</h4>
              <p>07871789085</p>
            </div>
          </div>
          
          <div class="contact-info-item">
            <div class="contact-info-icon">
              <i class="fas fa-envelope"></i>
            </div>            
            <div class="contact-info-content">
              <h4>Email</h4>
             <p>testy@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="contact-form">
          <a href="{% url 'contactus' %}" class="btn btn-primary btn-lg">Email us</a>
        </div>
        
      </div>
    </div>
  </section>
      </main>
</body>
</html>
