<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Skillstest | Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    <br><br>
    <section class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-3">Skills Test</h1>
            <p class="lead">Test your skills and become a master.</p>
            <p>We organize quizzes on various topics.</p>
            <p>Sign up if you haven't already and get access to millions of quizzes on the topic of your interest.</p>
            <div class="row">
                <div class="col-md-6">
                    <h2>Signup As</h2>
                    <a href="{% url 'participantsignup' %}" class="btn btn-primary btn-lg">Participant</a>
                    <a href="{% url 'facilitatorsignup' %}" class="btn btn-primary btn-lg">Facilitator</a>
                </div>
                <div class="col-md-6">
                    <h2>Login As</h2>
                    <a href="{% url 'participantlogin' %}" class="btn btn-primary btn-lg">Participant</a>
                    <a href="{% url 'facilitatorlogin' %}" class="btn btn-primary btn-lg">Facilitator</a>
                </div>
            </div>
        </div>
    </section>
   
    {% include "a.html" %}
    {% include "c.html" %}
    <br>
    {% include "footer.html" %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
