<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Skillstest | Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .normal {
            font-size: x-large;
            fill-opacity: inherit;
            font-weight: 300;
            color: darkviolet;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <br><br>
    <section class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-3">Skills Test</h1>
            <p class="lead">Looking for a platform to sharpen and enhance you skills. </p>
            <p class="normal">Having tests and question you would like to share</p>
            <p class="normal" >Skillstest has you covered.</p>
            <p class="normal">We offer a platform where all learners, experts and tutors looking for away upskill each other</p>
            <div class="row">
                <div class="col-md-6">
                    <h2>Signup As</h2>
                    <a href="{% url 'participantsignup' %}" class="btn btn-primary btn-lg">Participant</a>
                    <a href="{% url 'facilitatorsignup' %}" class="btn btn-primary btn-lg">Facilitator</a>
                </div>
                <div class="col-md-6">
                    <h2>Login As</h2>
                    <a href="{% url 'participantlogin' %}" class="btn btn-primary btn-lg">Participant</a>
                    <a href="{% url 'facilitatorlogin' %}" class="btn btn-primary btn-lg">Facilitator</a>
                </div>
            </div>
        </div>
    </section>
   
    {% include "a.html" %}
    {% include "c.html" %}
    <br>
    {% include "footer.html" %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
