<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>
    Skillstest | {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i style="left: 200px;margin-top: 17px;"class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>Skillstest</h3>
    </div>
    <div class="right_area">
      <a href="{% url 'logout' %}" class="logout_btn">Logout</a>
    </div>
  </header>
  <div class="sidebar">
    <center>
        <img src="{% static 'image/admin.png' %}" class="profile_image" alt="admin.png">
        <h4>{{ request.user.first_name }}</h4>
        <h6 style="color: rgb(255, 255, 255);">( ADMIN )</h6>
    </center>
    <a href="{% url 'admindash' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
    <a href="#"><i class="fas fa-chalkboard-teacher"></i><span>Facilitators</span></a>
    <a href="#"><i class="fas fa-user-graduate"></i><span>Participants</span></a>
    <a href="#"><i class="fas fa-book"></i><span>Challenges</span></a>
    <a href="#"><i class="fas fa-question-circle"></i><span>Questions</span></a>
  </div>
  <div class="content">
    <br><br><br><br><br>
    {% block content %}

    {% endblock content %}
    <br><br><br>
    {% include "footer.html" %}
  </div>
</body>
</html>
